<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voidshell.BM.acBook.dao.BillMapper">
  <resultMap id="BaseResultMap" type="com.voidshell.BM.acBook.pojo.Bill">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="BOOK_ID" jdbcType="VARCHAR" property="bookId" />
    <result column="IN_OR_EX" jdbcType="INTEGER" property="inOrEx" />
    <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="BILL_DATE" jdbcType="DATE" property="billDate" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="EX_ID" jdbcType="VARCHAR" property="exId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, BOOK_ID, IN_OR_EX, ITEM_ID, 
    AMOUNT, BILL_DATE, DESCRIPTION, EX_ID, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_wx_bill
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ac_wx_bill
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample">
    delete from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    insert into ac_wx_bill (ID, CREATED_BY, CREATED_TIME, 
      UPDATED_BY, UPDATED_TIME, BOOK_ID, 
      IN_OR_EX, ITEM_ID, AMOUNT, 
      BILL_DATE, DESCRIPTION, EX_ID, 
      STATUS)
    values (#{id,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{bookId,jdbcType=VARCHAR}, 
      #{inOrEx,jdbcType=INTEGER}, #{itemId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{billDate,jdbcType=DATE}, #{description,jdbcType=VARCHAR}, #{exId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    insert into ac_wx_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="bookId != null">
        BOOK_ID,
      </if>
      <if test="inOrEx != null">
        IN_OR_EX,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="billDate != null">
        BILL_DATE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="exId != null">
        EX_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="inOrEx != null">
        #{inOrEx,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="billDate != null">
        #{billDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="exId != null">
        #{exId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample" resultType="java.lang.Long">
    select count(*) from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_wx_bill
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookId != null">
        BOOK_ID = #{record.bookId,jdbcType=VARCHAR},
      </if>
      <if test="record.inOrEx != null">
        IN_OR_EX = #{record.inOrEx,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.billDate != null">
        BILL_DATE = #{record.billDate,jdbcType=DATE},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.exId != null">
        EX_ID = #{record.exId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_wx_bill
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      BOOK_ID = #{record.bookId,jdbcType=VARCHAR},
      IN_OR_EX = #{record.inOrEx,jdbcType=INTEGER},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      BILL_DATE = #{record.billDate,jdbcType=DATE},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      EX_ID = #{record.exId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    update ac_wx_bill
    <set>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookId != null">
        BOOK_ID = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="inOrEx != null">
        IN_OR_EX = #{inOrEx,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="billDate != null">
        BILL_DATE = #{billDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="exId != null">
        EX_ID = #{exId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    update ac_wx_bill
    set CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      BOOK_ID = #{bookId,jdbcType=VARCHAR},
      IN_OR_EX = #{inOrEx,jdbcType=INTEGER},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      BILL_DATE = #{billDate,jdbcType=DATE},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      EX_ID = #{exId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.voidshell.BM.acBook.pojo.Bill">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="BOOK_ID" jdbcType="VARCHAR" property="bookId" />
    <result column="IN_OR_EX" jdbcType="INTEGER" property="inOrEx" />
    <result column="ITEM_ID" jdbcType="VARCHAR" property="itemId" />
    <result column="AMOUNT" jdbcType="DECIMAL" property="amount" />
    <result column="BILL_DATE" jdbcType="DATE" property="billDate" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="EX_ID" jdbcType="VARCHAR" property="exId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, BOOK_ID, IN_OR_EX, ITEM_ID, 
    AMOUNT, BILL_DATE, DESCRIPTION, EX_ID, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ac_wx_bill
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ac_wx_bill
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample">
    delete from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    insert into ac_wx_bill (ID, CREATED_BY, CREATED_TIME, 
      UPDATED_BY, UPDATED_TIME, BOOK_ID, 
      IN_OR_EX, ITEM_ID, AMOUNT, 
      BILL_DATE, DESCRIPTION, EX_ID, 
      STATUS)
    values (#{id,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{bookId,jdbcType=VARCHAR}, 
      #{inOrEx,jdbcType=INTEGER}, #{itemId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{billDate,jdbcType=DATE}, #{description,jdbcType=VARCHAR}, #{exId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    insert into ac_wx_bill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME,
      </if>
      <if test="bookId != null">
        BOOK_ID,
      </if>
      <if test="inOrEx != null">
        IN_OR_EX,
      </if>
      <if test="itemId != null">
        ITEM_ID,
      </if>
      <if test="amount != null">
        AMOUNT,
      </if>
      <if test="billDate != null">
        BILL_DATE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="exId != null">
        EX_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookId != null">
        #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="inOrEx != null">
        #{inOrEx,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="billDate != null">
        #{billDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="exId != null">
        #{exId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.voidshell.BM.acBook.pojo.BillExample" resultType="java.lang.Long">
    select count(*) from ac_wx_bill
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ac_wx_bill
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTime != null">
        UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookId != null">
        BOOK_ID = #{record.bookId,jdbcType=VARCHAR},
      </if>
      <if test="record.inOrEx != null">
        IN_OR_EX = #{record.inOrEx,jdbcType=INTEGER},
      </if>
      <if test="record.itemId != null">
        ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.billDate != null">
        BILL_DATE = #{record.billDate,jdbcType=DATE},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.exId != null">
        EX_ID = #{record.exId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ac_wx_bill
    set ID = #{record.id,jdbcType=VARCHAR},
      CREATED_BY = #{record.createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{record.updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{record.updatedTime,jdbcType=TIMESTAMP},
      BOOK_ID = #{record.bookId,jdbcType=VARCHAR},
      IN_OR_EX = #{record.inOrEx,jdbcType=INTEGER},
      ITEM_ID = #{record.itemId,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      BILL_DATE = #{record.billDate,jdbcType=DATE},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      EX_ID = #{record.exId,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    update ac_wx_bill
    <set>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookId != null">
        BOOK_ID = #{bookId,jdbcType=VARCHAR},
      </if>
      <if test="inOrEx != null">
        IN_OR_EX = #{inOrEx,jdbcType=INTEGER},
      </if>
      <if test="itemId != null">
        ITEM_ID = #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="billDate != null">
        BILL_DATE = #{billDate,jdbcType=DATE},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="exId != null">
        EX_ID = #{exId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.voidshell.BM.acBook.pojo.Bill">
    update ac_wx_bill
    set CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
      BOOK_ID = #{bookId,jdbcType=VARCHAR},
      IN_OR_EX = #{inOrEx,jdbcType=INTEGER},
      ITEM_ID = #{itemId,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      BILL_DATE = #{billDate,jdbcType=DATE},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      EX_ID = #{exId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>